body{
  background-color: #E1E2E1 !important;
  /*background: #E1E2E1 url('./../data/cube-2.png') repeat !important;*/

  font-family: 'Roboto', sans-serif;
  color: black;

}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
}
.margen {
  margin-top: 40px;
  padding-top: 40px;
}
/*.card{
  width: 20rem;
}*/

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 40px;
    background-color: #F9CAC5;
}
.back{

    display: inline-block;;

}
.text-center{
    text-align: center;
}
.text-justified{
    text-align: justify;
}
.breadcrumb {
  font-size: 1.2em;
  background-color: white !important;
}
.active{
  color: black !important;
}
.add{
  color: #45A39A;
}
#add{
  font-size: 0.8em;
}
.addPadding{
  padding-top: 100px;
}


.form-group{
    padding: 0.9em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-info{
  background-color: #067E81 !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
     color: black;
     text-decoration: none;
     background-color: #F9CAC5;
 }

 .navbar{
   color: black;
   background-color: #4db6ac;
 }

.link-1 {
  transition: 0.3s ease;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
.navbar .navbar-brand {
  vertical-align: middle;
}
.modal-content{
  background-color: #CDD4B3;
}
.login-button{
  background-color: #BCC49C;
}
.btn-app{
  color:black;
  background-color:#80C5B9;
  border-color:#2e6da4
}

.btn-primary.focus,.btn-primary:focus{
  color:#fff;
  background-color:#286090;
  border-color:#122b40
}
.btn-primary:hover{
  color:#fff;
  background-color:#286090;
  border-color:#204d74
}
.file-title{

}
.card-app{
  background-color: black;
}
.background-lib{
  background:
    url(./data/biblioteca.jpg) bottom center no-repeat,
}
.nav.navbar-nav.navbar-right li a {
    color: black;
}
.nav.navbar-nav li a {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
    vertical-align: middle !important;
    font-size: 1.5em;
}
.black{
  color: black;
}
.middle{
  vertical-align: middle;
}



/*scroll for cards content*/
.card-title{
  height: 78px;
}
.card-text{
  height:150px;
  overflow:auto;
}

/*home color for contrasting*/
.home{
  color:black;
}
/*navbar font size for responsive*/
navbar-title{
  /*font-size: */
}

/*video style*/
